DOMAIN_NAME=arimoham.42.fr

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=inception_db
MYSQL_USER=arimoham
MYSQL_PASSWORD=1234

WP_SITE_TITLE=Inception
WP_ADMIN=arimoham
WP_ADMIN_PASS=arimoham123
WP_ADMIN_EMAIL=arimoham@gmail.com
WP_USER=arimohamuser
WP_USER_PASS=user123
WP_USER_EMAIL=user@gmail.com

SSL_COUNTRY=AE
SSL_STATE=AbuDhabi
SSL_CITY=AbuDhabi
SSL_ORG=42
SSL_UNIT=42
